.body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 1280px;
  height: 1626px;
 margin: auto;
 
}
.box-header-menu {
  display: flex;
  padding: 0;
  justify-content: center;
  text-decoration: none;
  margin: 10px 0;
}
.box-menu {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  padding: 20px 40px;
  list-style: none;
  text-transform: uppercase;
  color: #FF0000;
 
} 
[href] {
  color: #FF0000;
  text-decoration: none;

}

.iphone {
  max-width: 1280px;
  height: auto;
}
.content-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: rgba(55, 55, 55, 1);
}
.content-text-lorem {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  display: flex;
  text-align: center;
  margin: 28px 35px;
  color: rgba(55, 55, 55, 1);
}
.content-text-vestibulum {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  display: flex;
  text-align: center;
  margin: 28px 35px;
  color: rgba(55, 55, 55, 1);
  ;
}
.btn {
  background-color: #FF0000;
  color: #f1f1f1;
  padding: 15px 45px ;
  border: 40px;
  border-radius: 4px;
  margin: 75px auto;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 1.8px;
  font-size: 12px;
  line-height: 12px;
}
.footer {

  text-align: right;
  margin: 55px;
  font-weight: bold;
}
